# .env
SECRET_KEY=Key
ENV=development or production
ALLOWED_ORIGINS=["http://localhost",allowed_origins]
CLOUDFLARE_TUNNEL_TOKEN=Token
ALPACA_API_BASE_URL=https://paper-api.alpaca.markets/v2
ALPACA_API_KEY=PKDSZ7W2F4GX4CA7MJ4KSCRHQX
ALPACA_API_SECRET=GmCbN3NtuEAE9ZJUJRCDCbrrTwZLQtM1v5nwse99EpQV
ALPACA_API_PAPER=True