**.pyc
vrtenv/
.venv/
node/
**.db
data/
__pycache__/*
**/tensorboard_logs/*
.env
node_modules

.env

# --- AI Training --- 
model/data
model/logs/best_model/*
model/logs/models
model/logs/tensorboard
model/logs/evaluations.npz
model/logs/vec_normalize.pkl
model/logs/**.csv
model/universe.csv
model/logs/**.pkl
model/logs/plots

