<aside class="sidebar-container">
    <div class="sidebar-logo-container">
        <svg class="sidebar-logo-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
        </svg>
        <span class="text-xl font-bold text-gray-200">StockBot</span>
    </div>
    <nav class="sidebar-nav">
        <ul class="sidebar-nav-list">
        <li>
            <a href="#" class="sidebar-nav-link sidebar-nav-link-active">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM6.5 9a1.5 1.5 0 100 3 1.5 1.5 0 000-3zM10 12.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM13.5 9a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" clip-rule="evenodd"></path>
            </svg>
            <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-nav-link sidebar-nav-link-inactive">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path d="M5.5 12.5l-2.5 2.5L1 12l2.5 2.5L5.5 12v3.5l2.5 2.5-2.5 2.5V17m9.5-4.5l2.5 2.5L19 12l-2.5 2.5-2.5 2.5V17M10 3a7 7 0 100 14A7 7 0 0010 3zM10 5a5 5 0 110 10A5 5 0 0110 5z"></path>
            </svg>
            <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-nav-link sidebar-nav-link-inactive">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 12.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM10 3a7 7 0 100 14 7 7 0 000-14zM10 5a5 5 0 110 10A5 5 0 0110 5z"></path>
            </svg>
            <span>Watchlist</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-nav-link sidebar-nav-link-inactive">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 12.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM10 3a7 7 0 100 14 7 7 0 000-14zM10 5a5 5 0 110 10A5 5 0 0110 5z"></path>
            </svg>
            <span>Trading</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-nav-link sidebar-nav-link-inactive">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 12.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM10 3a7 7 0 100 14 7 7 0 000-14zM10 5a5 5 0 110 10A5 5 0 0110 5z"></path>
            </svg>
            <span>Bot Status</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-nav-link sidebar-nav-link-inactive">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 12.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM10 3a7 7 0 100 14 7 7 0 000-14zM10 5a5 5 0 110 10A5 5 0 0110 5z"></path>
            </svg>
            <span>Settings</span>
            </a>
        </li>
        </ul>
    </nav>
</aside>